* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 1519px;
  max-width: 100%;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-md-12 {
  width: 100%;
  height: 16px;
  /* float: left; */
  justify-content: center;
  margin: auto;
}
